*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    padding: 1rem;
    background-color:rgb(135, 51, 83) ;
    color: aliceblue;
    border: 5px solid black;
    border-radius: 2rem;
}
button{
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    transition:4s;
}
button:hover{
    background: grey;
}